.menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;

    .menu_cartes {

        display: flex;
        flex-direction: column;
        gap: 10px;

        h3 {}

        .underline-h3 {
            width: 40px;
            height: 3px;
            background-color: $tertiary;

        }

        .menuItems {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .carte__item {
                background-color: white;
                box-shadow: 2px 2px 2px lightgrey;
                border-radius: 20px;
                height: 70px;
                display: flex;
                flex-direction: row;
                align-items: center;
                overflow: hidden;
                animation: loading_menu 1.0s both;
                &__description {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    height: 100%;
                    flex: 1;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
               
                    h4 {
                        font-size: 16px;
                        font-weight: bold;
                        padding-left: 20px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }

                    p {
                        padding-left: 20px;
                        font-size: 13px;
                        font-weight: normal;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }

                &__price {

                    width: 70px;
                    height: 100%;
                    font-weight: 700;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
    

                    p {
                        font-size: 16px;
                        font-weight: bold;
                        margin-bottom: 10px;
                    }
                }

                &__checker {
                    width: 70px;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $tertiary;
                    border-radius: 0 20px 20px 0;
                    margin-right: -70px;
                    transition-duration: 0.5s;
                    i {
                        color: white;
                        font-size: 24px;

                    }
                }

                &:hover > .carte__item__checker{
                    transition: all 0.5s 0.5s;
                    margin-right: 0px;

                }

                &:nth-child(2){
                    animation-delay: 0.5s;
                }
                &:nth-child(3){
                    animation-delay: 1.0s;
                }
                &:nth-child(4){
                    animation-delay: 1.5s;
                }
                &:nth-child(5){
                    animation-delay: 2.0s;
                }
               
            }
        }

    }

}

.boutonRose {

   @include btn;
}


@keyframes loading_menu {
    0%{ 
        opacity: 0;
    transform: translateY(75%);
}

100%{ 
    opacity: 1;
    transform: translateY(0%);
}
    
}