.restaurant{
    @include flexColumn;    
    padding: 30px 50px;
    h2 {
        font-size: 24px;
        color: black;
        margin-bottom: 20px;
      }


.restaurant_cards{

  display: flex;
  flex-direction: column;
  gap: 20px;
    .restaurant_card{

      display: flex;
      flex-direction: column;
      background-color: white;
      height: 200px;
      border-radius: 20px;
   

        .link{
          height: 60%;
          width: 100%;
          position: relative;
            .news{
              position: absolute;
              right: 10px;
              top: 10px;
              padding: 5px 10px;
              background-color: $tertiary;
              border-radius: 5px;
              color: #008766;
              font-size: 12px;
        }
         img{
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 20px 20px 0 0;
         }
        }

        .card-body{
          height: 40%;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
           .card-title{
              margin-left: 15px;
              color: black;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              gap:10px;
            p{
              font-size: 13px;
              font-weight: normal;
            }
            h3{
              font-size: 16px;
              font-weight: bold;
            }
           }
            .btn-heart{
              margin-right: 15px;
              @include btn-heart;
                i{
                  font-size: 24px;
                }
            }
        }
      }

  }

}



  